.filter-div{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 15px;
}

.no-tasks-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.create-btn{
    margin-left: 5px;
}

.filter-label{
    color: white;
    margin: 5px;
}

.white-text-title-large{
    color: white;
    font-size: 30px;
    font-weight: bold;
    align-items: center;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}
